.l-bbt-presses {
  background: url("./../../../images/bbt-background-lt.png");
  background-size: cover;
  padding-top: 30px;

  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
