.l-navbar {
  pointer-events: none;
  &.show {
    nav {
      pointer-events: all;
      opacity: 1 !important;
    }
  }

  nav {
    opacity: 0;
    color: $white;
    background: $darkGrey !important;
    min-height: 100px;

    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .navbar-brand, .nav-link {
    color: $white !important;
  }

  .navbar-brand {
    @include media-breakpoint-down(md) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 !important;
    }
  }


  .navbar-brand img {
    width: 125px;
  }

  .nav-link {
    font-weight: bold;
    background: $darkGrey !important;
    @include media-breakpoint-up(lg) {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }

    &.active {
      text-decoration: underline;
    }
  }

  .navbar-toggler {
    border: 0;
  }

  .navbar-nav {
    background: $black;
  }

  //Todo: Handle padding and background color for mobile layout of navdrawer
  .container {
    background: $transparent;
    @include media-breakpoint-down(md) {
      justify-content: flex-end;
    }
  }

  .c-hamburger {
    display: block;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }
}
