$primaryColor: #3E7D98;
$secondaryColor: #5da7c7;
$greyColor: #acacac;
$lightGreyColor: #f3f3f3;
$lighterGreyColor: #f2f2f2;


$white: #FFFFFF;
$navyBlue: #000067;
$orange: rgb(240, 139, 85);
$pink: rgb(235, 174, 192);
$lightBlue: rgb(121, 198, 228);
$transparent: rgba(0,0,0,0);
