$primaryColor: #3E7D98;
$secondaryColor: #5da7c7;
$greyColor: #acacac;
$lightGreyColor: #f3f3f3;
$lighterGreyColor: #f2f2f2;


$colorWhite: #FFFFFF;
$colorNavyBlue: #000067;
$colorOrange: rgb(240, 139, 85);
$colorPink: rgb(235, 174, 192);
$colorLightBlue: rgb(121, 198, 228);
