@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  src: url('../fonts/Roboto-Regular.ttf?#iefix') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  src: url('../fonts/Roboto-Regular.ttf?#iefix') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  src: url('../fonts/Roboto-Bold.ttf?#iefix') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf');
  src: url('../fonts/Roboto-BoldItalic.ttf?#iefix') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  src: url('../fonts/Roboto-Regular.ttf?#iefix') format('truetype');
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'Alio';
  src: url('../fonts/Alio Text Bold.ttf');
  src: url('../fonts/Alio Text Bold.ttf?#iefix') format('truetype');
  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: 'Merrant';
  src: url('../fonts/Merrant-Bold.otf');
  src: url('../fonts/Merrant-Bold.otf?#iefix') format('opentype');
  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: 'Merrant';
  src: url('../fonts/Merrant-Regular.otf');
  src: url('../fonts/Merrant-Regular.otf?#iefix') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Merrant';
  src: url('../fonts/Merrant-Light.otf');
  src: url('../fonts/Merrant-Light.otf?#iefix') format('opentype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia-Bold-Italic.ttf');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}
