@import 'bootstrap-custom';
@import './colors';
@import './fonts';
//@import './views';
@import './components';

body {
  font-family: "Georgia", sans-serif;
  background-color: $lightGreyColor;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  //background-image: url("./../images/bbt-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
}

.container {
  //background-color: $white;
}

h1 {
  font-size: 32px;
  font-family: "Merrant Light", sans-serif;

  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}

h3 {
  font-size: 24px;
  font-family: "Merrant Light", sans-serif;
  line-height: 1.5em;
}


h4 {
  font-family: "Merrant Light", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}


p {
  font-size: 16px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}
