.c-full-hero {

  height: 450px;
  position: relative;

  @include media-breakpoint-up(md) {
    height: 70vh;
  }

  @include media-breakpoint-up(lg) {
    height: 100vh;
  }


  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }

  .container {
    height: 100%;
    position: relative;
  }

  .logo-img {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);

    @include media-breakpoint-up(md) {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      top: 20%;
      transform: translateY(-20%);
      width: 40%;
    }
  }
}
