.c-text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("./../../../images/bbt-background.jpeg");
  background-size: cover;
  margin-left: -15px;
  margin-right: -15px;

  @include media-breakpoint-up(lg) {
    padding: 120px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    margin-left: 15px;
    margin-right: 15px;
    @include media-breakpoint-up(lg) {
      max-width: 350px;
    }
  }

  h1 {
    margin-bottom: 10px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }
}
