.c-blend {
  color: $black !important;
  cursor: pointer;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding-bottom: 50px;
    &:hover {
      .blend-image {
        transform: scale(1.1);
      }
    }
  }

  h4 {
    margin-bottom: 0;
  }

  .image-container {
    position: relative;
    padding-bottom: 82.5%;
    width: 100%;
    border: 1px solid  $black;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .blend-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
  }
}
