.l-generic-footer {
  background: $darkGreen;

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .contact-container {
    padding-bottom: 20px;
  }

  .socials-container {
    padding-bottom: 20px;
  }

  .logo-img {
    width: 85px;
    padding-bottom: 20px;
    @include media-breakpoint-up(lg) {
      width: 110px;
    }
  }
}
