.c-fixed-nav-drawer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $darkGrey;
  z-index: 9999;
  top: 0;
  transform: translateX(-100%);

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  &.open {
    display: block;
    transform: translateX(0);
  }

  .header {
    height: 100px;
    position: relative;
    padding: 0.5rem 1rem;
    .container {
      @include media-breakpoint-down(md) {
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .c-hamburger {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }
}
