.c-fixed-nav-drawer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $darkGrey;
  z-index: 9999;
  top: 0;
  transform: translateX(-100%);

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  &.open {
    display: block;
    transform: translateX(0);
  }
}
